html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#logo{
	margin:auto;
	width: 50%;
	display: block;
}

#search-box{
	background: blue;
	position: fixed;
	margin: 0;
	padding: 0;
	
	height: 100%;
	width: 30%;
}
#search-input{
	position: fixed;
	height: 100%;
}

#map{
	height: 100%;
	width: 70%;
	left:30%;
	margin: 0;
	padding: 0;
}