html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Futura', Arial;
}

p, label {
	color: white;
}

#logo {
	margin:auto;
	width: 100%;
	display: block;
}

#side-bar {
	background-color: #7B7B7B; /* grey */
}

#go-button {
	background-color: #14A8D5; /* teal */
	color: white;
}

#credits {
	font-size: 10px;
}

/*#search-box{
	background: #7B7B7B;
	position: fixed;
	margin: 0;
	padding: 0;
	
	height: 100%;
	width: 30%;
}*/
#search-input {
	/*position: fixed;*/
	height: 100%;
}

#map {
	height: 100%;
	width: 100%;
	/*left:30%;*/
	margin: 0;
	padding: 0;
}