html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#logo{
	margin:auto;
	width: 50%;
	display: block;
}

#search-box{
	background: blue;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
#search-input{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

#map{
	height: 100hv;
}